.titlecontainer {
    width: 95%;
    margin: 0 auto;
}

.usuarios {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 20px;
    color: #000;
}

.usuario {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.usuariosactions {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.body__container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.titlecontainer h1 {
    color: #70ccd1;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    border-bottom: 1px solid gray;
    padding-bottom: 13px;
}

.pantalla {
    display: flex;
    width: 45%;
    background-color: #fff;
    margin: 15px auto;
    height: 420px;
    flex-wrap: wrap;
}

.pantalla-top {
    width: 90%;
    margin: 0 auto;
    height: 120px;
}

.icon-user {
    width: 50%;
    margin: 35px auto;
    display: flex;
    font-size: 60px;
    justify-content: center;
    padding-top: 15px;
    color: grey;
}

.pantalla-top-info {
    text-align: center;
    color: black;
}

.pantalla-top-info p {
    margin: 5px;
}

.pantalla-bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    color: #70ccd1;
    font-family: 'Bebas Neue';
}

.caja {
    width: 25%;
    margin: 8px;
    padding: 10px;
    text-align: center;
}

strong#contratacionesholder, strong#reunionesholder, strong#llamadasholder {
    font-size: 26px;
    color: #70ccd1;
}

.caja>h4 {
    margin: 8px;
    font-family: 'Raleway', sans-serif;
}

.btn {
    margin-left: 5px;
}

.modal-backdrop {
    background-color: transparent;
}

.modal-title {
    font-size: 1.5em;
}

.modal-body label {
    font-size: 1em;
}

#btn-agrega-empleado {
    border: none;
}

@media(max-width:1357px) {
    .usuarios {
        width: 50%;
        margin: 0px auto;
    }
}

@media(max-width:1090px) {
    .pantalla {
        height: 500px;
        width: 100%;
    }
    .pantalla-bottom {
        flex-direction: column;
        margin: 55px auto;
        align-items: center;
    }
    .caja {
        width: 50%;
    }
}

@media(max-width:455) {
    .top-menu ul li a {
        font-size: 0.7em;
        ;
    }
}

@media(max-width:655px) {
    .top-menu {
        margin-bottom: 41px;
    }
    .top-menu ul {
        margin: 0 auto;
        text-align: center;
        border: 1px solid #ccc;
        flex-direction: column;
    }
    top-menu > ul > li > .active {
        display: none;
    }
}

@media(max-width:700px) {
    .usuarios {
        width: 100%;
    }
}

@media(max-width:1160px) {
    .usuarios {
        width: 95%;
    }
    div.dataTables_wrapper div.dataTables_paginate {
        margin: 15px;
        white-space: nowrap;
        /* text-align: -webkit-center; */
    }
    .pantalla {
        width: 75%;
        height: 535px;
    }
}

@media(max-width:565px) {
    .container {
        width: 100%;
        padding: 0;
    }
    .usuarios {
        padding: 0;
        margin: 15px auto;
    }
    .pantalla {
        width: 100%;
    }
}

@media(max-width:368px) {
    .body__container {
        width: 100%;
    }
    .usuario {
        width: 100%;
    }
    .col-lg-12 {
        padding: 0;
        width: 100%;
        margin: 15px auto;
    }
}